/* color celeste: #96D2FA */
/* color violeta: #BC7DE6 */
/* color rojo claro: #FA6348 */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-style: bold;
     
}
/* stilos Header */

.ul--stile{
    text-decoration: none;
    list-style: none;
    display: flex;

}

.li__img--stile{
    height: 25px;
    width: 25px;
    margin-left: 12px;
}

/* stilos section present */
.section--general__color{
    background-color:#FA6348;
}
.section__div--flex{
    display: flex;
    margin-top:20px;
}
.section__h2--stilo{
    font-size: 45px;
}
.present__img--tweter{
    height: 25px;
    width: 25px;
}
.present__a--stilo{
    text-decoration: none;
}
.present__span--upercase{
    text-transform: uppercase;
}